# gui
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
diskcache
docker
ffmpeg
flask
flask-compress
opencv-python-headless
pandas
pillow
plotly
pydantic
selenium
waitress
webdriver-manager
pyyaml
dash[testing]

# backend
pyarrow